<div id="Pp_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Run Test Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <form action="patient-portal" method="POST">
                    <div class="form-group">
                        <label>Client Link</label>
                        <div class="pb-3">
                            <input type="text" class="form-control" required name="client_url" placeholder="https://sample.stage.jarvisanalytics.com"/>
                        </div>

                        <fieldset class="border p-2 pb-2">
                            <legend  class="w-auto" style="font-size:13px; font-weight:bold">Client Login Credentials</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Client Username</label>
                                        <div class="pb-3">
                                            <input type="text" placeholder="Enter Client Username" name="client_username" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Client Password</label>
                                        <div class="pb-3">
                                            <input type="text" placeholder="Enter Client Password" name="client_password"  class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                        </fieldset>
                        <br>
                        
                        <hr>
                        <label>Patient Portal Filters</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input checkbox-lg" type="checkbox" name="Filter[]" value="age" id="age_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Age</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="balance" id="balance_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Balance</label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="firts_seen"  id="firtseen_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">First Seen</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="future_hyg_visit" id="fvh_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Future Hyg Visit</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="future_visit" id="fv_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Future Visit</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="gender"/>
                                        <label class="form-check-label">Gender</label>
                                    </div>
                                    
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="last_hyg_visit" id="lhv_cb" onclick="modal_script()" />
                                        <label class="form-check-label">Last Hygiene Visit</label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="last_seen"  id="ls_cb" onclick="modal_script()" />
                                        <label class="form-check-label">Last Seen</label>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="perio_care"  id="p_care" onclick="modal_script()"/>
                                        <label class="form-check-label">Perio Care</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="primary_insurance_remaining"  id="pir_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Primary Insurance Remaining</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input checkbox-lg" type="checkbox" name="Filter[]" value="remaining_benefits" id="rb_cb" onclick="modal_script()" />
                                        <label class="form-check-label">Remaining Benefits</label>
                                    </div>
                                    
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="secondary_insurance_remaining" id="sir_cb" onclick="modal_script()"/>
                                        <label class="form-check-label">Secondary Insurance Remaining</label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="status"/>
                                        <label class="form-check-label">Status</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="scheduled"/>
                                        <label class="form-check-label">Scheduled</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="uninsured"/>
                                        <label class="form-check-label">Uninsured</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Filter[]" value="visit" id="visit_cb" onclick="modal_script()"//>
                                        <label class="form-check-label">Visit</label>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>

                        {% include "PP_Template/Modals/PP_forms.html" %}


                    </div>

                    <div class="form-group m-b-0 float-right">
                        <div>
                            <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light"">
                                Proceed
                            </button>
                        </div>
                    </div>
                </form> 

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
