{% extends "Layout_template.html" %}

{% block header %}  Morning Huddle {% endblock header%}

{% block test_button %} 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Mh_test_modal">
        Run Test
    </button>
{% endblock test_button %}

{% block content %}
    
    <!--Search Section-->
    {% include "Mh_Template/Sections/Search_section.html" %}
    <!--Info Section-->
    {% include "Mh_Template/Sections/Info_section.html" %}
    <div id="module">
        <!--Breakdown Graph Section-->
        {% include "Mh_Template/Sections/Breakdown_graph_section.html" %}
        <!--Today breakdown Section-->
        {% include "Mh_Template/Sections/Yesterday_brk_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Today_brk_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Tomorrow_brk_section.html" %}
    </div>

    <div id="mail">
       
    </div>
    
    <div id="scorecard">
        <!--Scorecard Graph Section-->
        {% include "Mh_Template/Sections/Scorecard_graph_section.html" %}
        <!--Yesterday Scorecard Section-->
        {% include "Mh_Template/Sections/Yesterday_sc_section.html" %}
        <!--Today Scorecard Section-->
        {% include "Mh_Template/Sections/Today_sc_section.html" %}
        <!--Today Scorecard Section-->
        {% include "Mh_Template/Sections/Tomorrow_sc_section.html" %}
    </div>
    <!--Test Modal-->
    {% include "Mh_Template/Modal/Mh_test_modal.html" %}

{% endblock content %}

{% block chart %}
    <script src="{{ url_for('static', filename='charts/mh_display.js') }}"></script>

    <script>
        (function ytd_breakdown_chart()
        {
            const sample = document.getElementById('ytd_breakdown_chart');
            const myChart = new Chart(sample, {
                type: 'doughnut',
                data: {
                    labels: ['Pass', 'Fail'],
                    datasets: [{
                        data: [{{ brk_ytr_chart.pass }}, {{ brk_ytr_chart.fail }}],
                        backgroundColor: [
                            'rgba(38, 144, 244, 1)',
                            'rgba(246, 51, 21, 1)',
                            
                        ],
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        })();

        (function tdy_breakdown_chart()
        {
            const sample = document.getElementById('tdy_breakdown_chart');
            const myChart = new Chart(sample, {
                type: 'doughnut',
                data: {
                    labels: ['Pass', 'Fail'],
                    datasets: [{
                        data: [{{ brk_tdy_chart.pass }}, {{ brk_tdy_chart.fail }} ],
                        backgroundColor: [
                            'rgba(38, 144, 244, 1)',
                            'rgba(246, 51, 21, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true 
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        })();

        (function trw_breakdown_chart()
        {
            const sample = document.getElementById('trw_breakdown_chart');
            const myChart = new Chart(sample, {
                type: 'doughnut',
                data: {
                    labels: ['Pass', 'Fail'],
                    datasets: [{
                        data: [{{ brk_tmw_chart.pass }}, {{ brk_tmw_chart.fail }}],
                        backgroundColor: [
                            'rgba(38, 144, 244, 1)',
                            'rgba(246, 51, 21, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true 
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        })();

        (function trw_breakdown_chart()
        {
            const sample = document.getElementById('sc_result_chart');
            const myChart = new Chart(sample, {
                type: 'doughnut',
                data: {
                    labels: ['Pass', 'Fail'],
                    datasets: [{
                        data: [{{ sc_chart.pass }}, {{ sc_chart.fail }}],
                        backgroundColor: [
                            'rgba(38, 144, 244, 1)',
                            'rgba(246, 51, 21, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true 
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        })();

        (function brk_chart(){
            const ctx = document.getElementById('scorecard_chart');
            const metric_chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Yesterday', 'Today', 'Tomorrow'],
                    datasets: 
                    [
                        {
                            label: 'Mainview Production',
                            data: [{{ sc_goal_prod_graph.mh_ytr_prod }}, {{ sc_goal_prod_graph.mh_tdy_prod }}, {{ sc_goal_prod_graph.mh_tmw_prod }}],
                            backgroundColor: [
                                'rgb(153, 107, 229)',
                                'rgb(153, 107, 229)',
                                'rgb(153, 107, 229)',
                                'rgb(153, 107, 229)',
                            ],
                        },
                        {
                            label: 'Scorecard Production',
                            data: [{{ sc_goal_prod_graph.sc_ytr_prod }}, {{ sc_goal_prod_graph.sc_tdy_prod }}, {{ sc_goal_prod_graph.sc_tmw_prod }}],
                            backgroundColor: [
                                'rgb(97, 67, 156)',
                                'rgb(97, 67, 156)',
                                'rgb(97, 67, 156)',
                                'rgb(97, 67, 156)',
                            ],
                        },
                        {
                            label: 'Mainview Goal',
                            data: [{{ sc_goal_prod_graph.mh_ytr_goal }}, {{ sc_goal_prod_graph.mh_tdy_goal }}, {{ sc_goal_prod_graph.mh_tmw_goal }}],
                            backgroundColor: [
                                'rgb(109, 229, 193)',
                                'rgb(109, 229, 193)',
                                'rgb(109, 229, 193)',
                                'rgb(109, 229, 193)',
                            ],
                        },
                        {
                            label: 'Scorecard Goal',
                            data: [{{ sc_goal_prod_graph.sc_ytr_sc }}, {{ sc_goal_prod_graph.sc_tdy_goal }}, {{ sc_goal_prod_graph.sc_tmw_goal }}],
                            backgroundColor: [
                                'rgb(74, 192, 156)',
                                'rgb(74, 192, 156)',
                                'rgb(74, 192, 156)',
                                'rgb(74, 192, 156)',
                            ],
                        }
                    ],
                    
                },
                options: {
                    scales: 
                    {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        })();
        
    </script>

{% endblock chart %}
