<div id="count_breakdown_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Services Count Breakdown Test Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Procedure Code</th>
                            <th>Count Data</th>
                            <th>Breakdown Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if getCountProcedure is defined %}
                            {% for getCountProcedure in getCountProcedure %}
                            <tr>
                                <td>{{getCountProcedure['main_proc_code']}}</td>
                                <td>{{getCountProcedure['main_count']}}</td>
                                <td>{{getCountProcedure['breakdown_count']}}</td>
                                <td>{{getCountProcedure['status']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->