<div id="production_figures_test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Production Test Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Financial Data is use as the Base Data</p>
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Sections</th>
                            <th>Base Data</th>
                            <th>Breakdown Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if getProductionTest is defined %}
                            <tr>
                                <td>Provider Section</td>
                                <td>{{getProductionTest.base_value}}</td>
                                <td>{{getProductionTest.production_by_provider}}</td>
                                <td>
                                    {% if getProductionTest.base_value == getProductionTest.production_by_provider %}
                                        Pass
                                    {% else %}
                                        Fail
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Table Section</td>
                                <td>{{getProductionTest.base_value}}</td>
                                <td>{{getProductionTest.table_production}}</td>
                                <td>
                                    {% if getProductionTest.base_value == getProductionTest.table_production %}
                                        Pass
                                    {% else %}
                                        Fail
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Payor Score</td>
                                <td>{{getProductionTest.base_value}}</td>
                                <td>{{getProductionTest.payors_production}}</td>
                                <td>
                                    {% if getProductionTest.base_value == getProductionTest.payors_production %}
                                        Pass
                                    {% else %}
                                        Fail
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->