<div id="search_prosedure_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Search Procedure Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Search Procedure</th>
                            <th>Search Result</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if getSearchProcedure is defined %}
                            {% for getSearchProcedure in getSearchProcedure %}
                            <tr>
                                <td>{{getSearchProcedure['main_proc_code']}}</td>
                                <td>{{getSearchProcedure['breakdown_proc_code']}}</td>
                                <td>{{getSearchProcedure['status']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->