<div id="Pending_unsched_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Pending Unscheduled</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Main View</th>
                            <th>Breakdown</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if fetchTxMinerPendingUnsched is defined %}
                            {% for fetchTxMinerPendingUnsched in fetchTxMinerPendingUnsched %}
                            <tr>
                                <td>{{fetchTxMinerPendingUnsched['month']}}</td>
                                <td>{{fetchTxMinerPendingUnsched['mv_pending_unsched']}}</td>
                                <td>{{fetchTxMinerPendingUnsched['breakdown_pending_unsched']}}</td>
                                <td>{{fetchTxMinerPendingUnsched['pending_unsched_status']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->