<div id="provider_filter_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Provider Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Month Breakdown</th>
                            <th>Breakdown Patient Name</th>
                            <th>Search Provider</th>
                            <th>Breakdown Patient Provider</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if fetchTxMinerProviderFilter is defined %}
                            {% for fetchTxMinerProviderFilter in fetchTxMinerProviderFilter %}
                            <tr>
                                <td>{{fetchTxMinerProviderFilter['month_breakdown']}}</td>
                                <td>{{fetchTxMinerProviderFilter['pt_name']}}</td>
                                <td>{{fetchTxMinerProviderFilter['provider_filtered']}}</td>
                                <td>{{fetchTxMinerProviderFilter['provider_pt_table']}}</td>
                                <td>{{fetchTxMinerProviderFilter['status']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->