<div class="row">
    <div class="col-xl-12 align-items-stretch">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Test Information</h4>
                <hr>
                <p class="text-muted mt-2 mb-0 ">CLIENT NAME:<span class="ml-4 text-capitalize">{{ test.client_name }}</span></p>
                <p class="text-muted mt-2 mb-0 ">CLIENT URL   :<span class="ml-4">{{ test.client_link }}</span></p>
                <p class="text-muted mt-2 mb-0 ">TEST DATE   :<span class="ml-4">{{ test.test_date }}</span></p>
                <p class="text-muted mt-2 mb-0 ">TEST CODE:<span class="ml-4 text-capitalize">{{ test.test_code }}</span></p>
            </div>
        </div>
    </div> 
    
</div>
