<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Today: Breakdown Test</h4>
        <hr style="border-top: 7px solid #6c53d7">
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">New Patients (Actual)<span class="float-right">{{ brk_tdy_result.tdy_npt_actual }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_npt_actual }}</h3>
                    </div>
                     
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_npt_actual }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">New Patients (Scheduled)<span class="float-right">{{ brk_tdy_result.tdy_npt_sched }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_npt_sched }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_npt_sched }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Hygiene Production (Scheduled)<span class="float-right">{{ brk_tdy_result.tdy_hyg_prod_sched }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_hyg_prod_sched }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_hyg_prod_sched }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Hygiene Production (Actual)<span class="float-right">{{ brk_tdy_result.tdy_hyg_prod_actual }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_hyg_prod_actual }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_hyg_prod_actual }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Treatment<span class="float-right">{{ brk_tdy_result.tdy_unsched_tx  }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_unsched_tx }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_unsched_tx }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Family Members<span class="float-right">{{ brk_tdy_result.tdy_unsched_family_members }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_unsched_family_members }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_unsched_family_members }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Hygiene<span class="float-right">{{ brk_tdy_result.tdy_unsched_hyg }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_unsched_hyg }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_unsched_hyg }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Patient Birthdays<span class="float-right">{{ brk_tdy_result.tdy_patient_bday }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_patient_bday }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_patient_bday }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Past Due AR<span class="float-right">{{ brk_tdy_result.tdy_past_due_ar }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_past_due_ar }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_past_due_ar }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Due for BWX<span class="float-right">{{ brk_tdy_result.tdy_due_bwx }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_due_bwx }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_due_bwx }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Due for FMX<span class="float-right">{{ brk_tdy_result.tdy_due_fmx }}</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">{{ mh_main.tdy_due_fmx }}</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">{{ mh_brk.tdy_due_fmx }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>