<div id="breakdown_test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Breakdown Test Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Mertric</th>
                            <th>Base Data</th>
                            <th>Breakdown Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Net Production</td>
                            <td>{{breakdown_value.base_netprod}}</td>
                            <td>{{breakdown_value.bd_netprod}}</td>
                            <td>{{breakdown_value.status_netprod}}</td>
                        </tr>
                        <tr>
                            <td>Gross Production</td>
                            <td>{{breakdown_value.base_grossprod}}</td>
                            <td>{{breakdown_value.bd_grossprod}}</td>
                            <td>{{breakdown_value.status_grossprod}}</td>
                        </tr>
                        <tr>
                            <td>Collection</td>
                            <td>{{breakdown_value.base_coll}}</td>
                            <td>{{breakdown_value.bd_coll}}</td>
                            <td>{{breakdown_value.status_coll}}</td>
                        </tr>
                        <tr>
                            <td>Adjustment</td>
                            <td>{{breakdown_value.base_adjust}}</td>
                            <td>{{breakdown_value.bd_adjust}}</td>
                            <td>{{breakdown_value.status_adjust}}</td>
                        </tr>
                        <tr>
                            <td>New Patients Visits</td>
                            <td>{{breakdown_value.base_npv}}</td>
                            <td>{{breakdown_value.bd_npv}}</td>
                            <td>{{breakdown_value.status_npv}}</td>
                        </tr>
                        <tr>
                            <td>Existing Patients Visits</td>
                            <td>{{breakdown_value.base_epv}}</td>
                            <td>{{breakdown_value.bd_epv}}</td>
                            <td>{{breakdown_value.status_epv}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->