<div id="lob_pedo_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">LOB Filter: Pedo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Production Table</h5>
                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Financial Data</th>
                            <th>Provider Data</th>
                            <th>Table total Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{lob_result['Pedo'][1][0]}}</td>
                            <td>{{lob_result['Pedo'][1][1]}}</td>
                            <td>{{lob_result['Pedo'][1][2]}}</td>
                            <td>{{lob_result['Pedo'][1][3]}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5>Provider Validation</h5>
                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Provider Name</th>
                            <th>Provider Specialty</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in lob_result['Pedo'][2]%}
                            <tr>
                                <td>{{data[0]}}</td>
                                <td>{{data[1]}}</td>
                                <td>{{data[2]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->