<div class="row">
    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title font-16">Age Filter Test Result</h4>
                <hr>
                <div style="height: 590px">
                    <canvas id="sc_result_chart"></canvas>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-8">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="filter" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Test Code</th>
                            <th>Client</th>
                            <th>Test Date</th>
                            <th>Test Module</th>
                            <th>Test Performed Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                        <tr>
                            <td>fsdfsdf</td>
                            <td>sdfsdf</td>
                            <td>fsdfff</td>
                            <td>fsdfsdf</td>
                            <td>fsdfdsf</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->