<div id="provider_filter_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Provider Filter Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Searched Provider</th>
                            <th>Patient</th>
                            <th>Procedure</th>
                            <th>Unsearch Provider</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if getPassProviderFilterTesting is defined %}
                            {% for getPassProviderFilterTesting in getPassProviderFilterTesting %}
                            <tr>
                                <td>{{getPassProviderFilterTesting['search_provider']}}</td>
                                <td>{{getPassProviderFilterTesting['patient_name']}}</td>
                                <td>{{getPassProviderFilterTesting['procedure_code']}}</td>
                                <td>{{getPassProviderFilterTesting['unsearch_provider']}}</td>
                                <td>{{getPassProviderFilterTesting['status']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->