<div class="row">
    <div class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Calculation Test Result</h4>
                <hr>
                <div style="height: 250px">
                    <canvas id="calculation_chart_pass_fail"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->

    <!--<div class="col-md-6" >
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Mail Test Result</h4>
                <hr>
                <div style="height: 400px">
                    <canvas id="mail_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div>-->
</div> <!-- end row -->

{% block chart %}
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/unmin.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/metismenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/waves.min.js') }}"></script>

<script type="text/javascript">
    (function calculation_chart_pass_fail()
    {
        const sample = document.getElementById('calculation_chart_pass_fail');
        const pass = "{{ countPassCalculationTest }}";
        const fail = "{{ countFailCalculationTest }}";

        const myChart = new Chart(sample, {
            type: 'horizontalBar',
            data: {
                labels: ['Pass', 'Fail'],
                datasets: 
                [
                    {
                        data: [pass, fail],
                        backgroundColor: [
                            'rgba(38, 144, 244, 1)',
                            'rgba(246, 51, 21, 1)',
                        ],
                    },

                ],
                
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            min: 0 // Edit the value according to what you need
                        }
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                legend: {
                    display: false //This will do the task
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    })();

</script>

{% endblock chart %}