<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Front Office Breakdown Test</h4>
        <hr style="border-top: 7px solid #0066ff">
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Avg Production<span class="float-right">Pass</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">$12,345</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">$12,345</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Avg Collection<span class="float-right">Pass</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">$12,345</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">$12,345</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text" style="color:red">Avg Adjustment<span class="float-right">Fail</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">$12,345</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">$12,346</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">New Patine Per Day<span class="float-right">Pass</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    

   